// Section section
// --------------------------------------------------
// .layout-section

.layout-section--first
  background: url("../../images/main-background.jpg")
  background-size: cover
  min-height: 65vh

.layout-section--second
  background-color: $almost-white
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 0 0 30px

.layout-section--third
  display: flex
  flex-direction: column
  justify-content: space-around
  background-color: $gray-lighter
  padding: 80px 0

.layout-section--fourth
  margin: 100px auto 170px

.layout-section--fifth
  height: 65vh
  background: url("../../images/buyers.jpg") 50% no-repeat
  background-position: right top
  background-size: auto
  display: grid
  grid-template-columns: 2fr 4fr 4fr
  grid-template-rows: 10% 65% 10% 15%

.layout-section--sixth
  display: flex
  flex-direction: column
  justify-content: space-around
  background-color: $gray-lighter