// Section section
// --------------------------------------------------
// .layout-section

.layout-section--first
  background: url("../../images/main-background.jpg")
  background-size: cover
  min-height: 65vh

.layout-section--second
  background-color: $almost-white
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 0 0 30px

.layout-section--third
  display: flex
  flex-direction: column
  justify-content: space-around
  background-color: $gray-lighter
  padding: 80px 0

.layout-section--fourth
  margin: 100px auto 170px