// Block
//
// Block component used for wrapping block content.


// Elements
// --------------------------------------------------
.block__title
  position: relative
  padding-bottom: 40px
  margin: 0

.block__content
  +clearfix()
