// Block
//
// Block component used for wrapping block content.


// Elements
// --------------------------------------------------
.block__title
  position: relative
  padding-bottom: 40px
  margin: 0
  color: $almost-white

.block__content
  +clearfix()

// Modifiers
// --------------------------------------------------

.block__content--strong
    font-weight: $bold

.block__content--first-letter
  font-size: 30px