// Footer
//
// Footer


// Block
// --------------------------------------------------
// .footer

.footer
  display: flex

// Elements
// --------------------------------------------------
// .footer__element

.footer__links
  display: flex
  justify-content: space-around
  flex: 1

.footer__copyrights
  padding: 20px

// Modifiers
// --------------------------------------------------
// .footer--modifier

.footer__nav--label
  font-weight: $bold
  margin: 10px 0