// Layout section
//
// Single site section block


// Block
// --------------------------------------------------
// .layout-section

.layout-section
  min-height: 65vh
  background: url("../../images/main-background.jpg")
  background-attachment: fixed
  background-size: cover
  display: flex
  flex-direction: column
  color: $almost-white

// Elements
// --------------------------------------------------
// .layout-section__element

.layout-section__header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px 110px

.layout-section__block
  margin: 80px auto

// Modifiers
// --------------------------------------------------
// .layout-section--modifier

