// Horizontal navigation
//
// Inline navigation used for example for footer links


// Block
// --------------------------------------------------
.nav-horizontal
  font-size: 14px
  line-height: 24px
  padding: 30px 0

// Elements
// --------------------------------------------------
.nav-horizontal__link
  display: block
  padding: 15px 0
  text-align: center
  color: $almost-white
  +breakpoint(desktop)
    display: inline-block
    padding: 5px 25px
    & + &
      margin-left: 5px
  &:hover
    color: $gray-base
  img
    vertical-align: middle

// Modifiers
// --------------------------------------------------
.nav-horizontal__link--active
  background-color: $light-blue
  color: $gray-base
  border: 1px $almost-white-translucent solid


