<footer class="layout-footer">
    <div class="container text-center">
        <div class="footer">
            <div class="footer__links">
                <div class="footer__nav--label">Company</div>
                <nav class="nav-vertical">
                    <a href="#" class="nav-vertical__link">Sitemap</a>
                    <a href="#" class="nav-vertical__link">Terms of use</a>
                    <a href="#" class="nav-vertical__link">Jobs</a>
                </nav>
                <nav class="nav-vertical">
                    <div class="footer__nav--label">Quick Links</div>
                    <a href="#" class="nav-vertical__link">Sitemap</a>
                    <a href="#" class="nav-vertical__link">Terms of use</a>
                    <a href="#" class="nav-vertical__link">Jobs</a>
                </nav>
                <nav class="nav-vertical">
                    <div class="footer__nav--label">Conditions</div>
                    <a href="#" class="nav-vertical__link">Sitemap</a>
                    <a href="#" class="nav-vertical__link">Terms of use</a>
                    <a href="#" class="nav-vertical__link">Jobs</a>
                </nav>
            </div>
            <div class="social">
                <div class="footer__nav--label">Get connected</div>
                <nav class="social-links">
                    <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Ffronthack.com%2Ffronthack%2F"
                       class="social-links__link" target="_blank">
                        <i class="icon icon--social-facebook"></i>
                    </a>
                    <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Ffronthack.com%2Ffronthack%2F"
                       class="social-links__link" target="_blank">
                        <i class="icon icon--social-twitter"></i>
                    </a>
                    <a href="https://plus.google.com/share?url=http%3A%2F%2Ffronthack.com%2Ffronthack%2F"
                       class="social-links__link" target="_blank">
                        <i class="icon icon--social-gplus"></i>
                    </a>
                </nav>
            </div>
        </div>
        <div class="footer__copyrights">Project Name 2016 Ibrahim emran</div>
    </div>
</footer>
