<header class="layout-header">
    <div class="wide-container header">
            <div class="header__contact">
                <div class="header__contact--tel">
                    <i class="icon icon--phone header__icon"></i>
                    <div>123 456 798</div>
                </div>
                <div class="header__contact--email">
                    <i class="icon icon--envelope header__icon"></i>
                    <div>sampel@name.com</div>
                </div>
            </div>
            <div class="header__user-panel">
                <div class="form__item form__item--combined user-panel__search-bar">
                    <input class="form__input search-bar__input" name="searchInput" type="search" placeholder="Search on site"/>
                    <button type="submit" class="btn user-panel__btn">
                        <i class="icon icon--search header__icon"></i>
                    </button>
                </div>
                <div class="btn btn-xs btn--light user-panel__btn">Sign In</div>
            </div>
    </div>
</header>
