<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>HTML prototype</title>
    <meta name="description" content="Fronthack page's HTML prototype" />

      <!-- Load stylesheets -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css">

      <link rel="stylesheet" href="css/style.bundle.css" />
  </head>

  <body>
