<div class="section__header">
    <a href="/" class="logo" title="Home"></a>
    <nav class="nav-horizontal">
        <a class="nav-horizontal__link nav-horizontal__link--active" href="#">Home</a>
        <a class="nav-horizontal__link" href="#">About us</a>
        <a class="nav-horizontal__link" href="#">Pricing</a>
        <a class="nav-horizontal__link" href="#">Blog</a>
        <a class="nav-horizontal__link" href="#">Contact us</a>
    </nav>
</div>
