    <!-- Development script - becomes ingored after compiled to dist folder -->
    <script type="text/javascript" src="dev-scripts/fronthack-dev.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!-- Load OWL Carousel library (after jQuery) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"></script>
    <!-- Initiate OWL Carousel script -->
    <script>
        $(".owl-carousel").owlCarousel({
            loop: true,
            items: 1,
            autoPlay: true,
            nav: true,
            navText: [
                "<i class='icon icon--arrow-left'>",
                "<i class='icon icon--arrow-right'>"
            ]
        });
    </script>
  </body>
</html>
